* {
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf);
}
@font-face {
    font-family: Questrial;
    src: url(fonts/Questrial/Questrial-Regular.ttf);
}
@font-face {
    font-family: JetBrains;
    src: url(fonts/JetBrains/JetBrainsMono-Medium.ttf);
}

:root {
    --colorText: #070e12;
    --colorBackground: #f5fbff;
    --colorPrimary: #174563;
    --colorSecundary: #d2e6f4;
    --colorTerciary: #e9eff4;
    --colorAccent: #c40e20;

    --dColorText: #e1f2fe;
    --dColorBackground: #00060a;
    --dColorPrimary: #9cc9e8;
    --dColorSecundary: #0b1f2d;
    --dColorTerciary: #0b1216;
    --dColorAccent: #f13b4e;
    --dColorComment: #282c2f;
    --dColorIDK: #E2E1B9;
}
::-moz-scrollbar {
    display: none; 
}

::selection {
    background-color: var(--dColorPrimary);
    color: var(--dColorBackground);
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f5f5f500;
}

::-webkit-scrollbar
{
    display: none;
	width: none;
	background-color: #f5f5f500;
    -ms-overflow-style: none;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
    display: none;
}
::selection {
    color: var(--dColorBackground);
    background-color: var(--dColorAccent);
}

img {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}