* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    scrollbar-width: none;
}
html {
    overflow: -moz-scrollbars-none;
    overflow: hidden;

    scroll-behavior: smooth;
}
body {
    background-color: var(--dColorBackground);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-top: -100vh;
    margin-left: -100vw;

    position: fixed;

    transition: margin-top 0.8s ease-in-out, margin-left 0.8s ease-in-out;
}
a {
    text-decoration: none;
}

.bodyAbout {
    margin-top: 0vh;
    margin-left: -100vw;    
    
    transition: margin-top 0.8s ease-in-out, margin-left 0.8s ease-in-out;
}
.bodyProjects {
    margin-top: -100vh;
    margin-left: 0vw;

    transition: margin-top 0.8s ease-in-out, margin-left 0.8s ease-in-out;
}
.bodyWork {
    margin-top: -100vh;
    margin-left: -200vw;

    transition: margin-top 0.8s ease-in-out, margin-left 0.8s ease-in-out;
}
.bodySocials {
    margin-top: -200vh;
    margin-left: -100vw;

    transition: margin-top 0.8s ease-in-out, margin-left 0.8s ease-in-out;
}

section {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

#nav {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
#navButtonsWrapper {
    width: 95vw;
    height: 85vh;

    margin: 7.5vh 2.5vw;

    display: inline-flex;
}
#groupedTopToBottomNavButtons {
    height: 100%;

    width: calc((100% / 3) - 4vw);


}

#projectsButton {
    height: 100%;

    width: calc((100% / 3) - 4vw);

    margin-left: 2vw;
    margin-right: 2vw;

}

#aboutButton {
    height: calc(50% - 2vh);
    width: 100%;

    margin-bottom: 4vh;
}
#contactButton {
    height: calc(50% - 2vh);
    width: 100;

    margin-top: 4vh;
}

#workButton {
    height: 100%;

    width: calc(100% / 3);
    
    margin-right: 2vw;
    margin-left: 2vw;
    


}
.navButton {
    border-radius: 10px;

    background-color: #15181a;

    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    
    border: 2px solid rgb(255 255 255 / 5%);

    transition: border ease-in-out 0.1s, background-color ease-in-out 0.1s;

    cursor: pointer;


    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.navButton:hover {

    background-color: #15181a92;
    
    border: 2px solid rgba(255, 255, 255, 0.267);

}
.navButtonText {
    color: var(--dColorText);

    font-family: Questrial;
    font-weight: 700;
    font-size: 3vw;

    text-align: center;

    
}


/*      About Section       */
#sectionAbout {
    background-color: var(--dColorBackground);

    grid-column: 2 / 2;
    grid-row: 1 / 1;

    background-image: url(images/aboutBackground.svg);
    
}
::selection {
    background-color: var(--dColorAccent);
    color: var(--dColorBackground);
    
}
#sectionAboutWrapper {
    width: 100%;
    height: 100%;

    background-color: var(--dColorBackground);

}
#sectionAboutUppertitle {
    color: var(--dColorPrimary);
    font-family: JetBrains;
    font-size: 0.9vw;

    margin-left: 2.5vw;
    padding-top: 15vh;
    padding-bottom: 0.5vh;
}
#sectionAboutTitle {
    color: var(--dColorText);
    font-family: Questrial;
    font-size: 6vw;
    font-weight: 1000;
    
    width: 1vw;

    margin-left: 2.5vw;
}
#sectionAboutSubtitle {
    color: var(--dColorText);
    font-family: Questrial;
    font-size: 1vw;
    font-weight: 200;

    margin-left: 2.5vw;
    margin-top: 2vh;

    width: 37vw;
}
#sectionAboutGoBackButton {
    position: absolute;
    display: inline-flex;
    color: var(--dColorAccent);
    
    width: 8vw;

    margin-left: 46vw;
    margin-right: auto;
    margin-top: 35vh;
    margin-bottom: 1vh;

    border: 1.5px solid var(--dColorAccent);
    border-radius: 100vw;

    cursor: pointer;

    transition: color 0.3s ease-in-out, filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#sectionAboutGoBackButton:hover{
    color: var(--dColorBackground);
    background-color: var(--dColorAccent);
}
#sectionAboutGoBackButtonText {

    font-family: Questrial;
    font-size: 1vw;
    font-weight: 900;

    width: fit-content;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}


/*      Projects Section       */
#sectionProjects {
    background-color: var(--dColorBackground);

    grid-column: 1 / 1;
    grid-row: 2 / 2;
}
#sectionProjectsWrapper {
    display: flex;
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
#sectionProjectsLSide {
    width: 30%;
    height: 100vh;
    background-color: var(--dColorBackground);
}
#sectionProjectsProjectButtonsWrapper {
    position: relative;
    margin-top: 50%;
    margin-bottom: 50%;
}
#sectionProjectsProjectButtonActive {
    color: var(--dColorAccent) !important;

    padding-left: 4vw !important;

}
.sectionProjectsProjectButtonInactive {
    color: #3b0e13 !important;

}
.sectionProjectsProjectButton {
    color: var(--dColorAccent);
    font-family: Questrial;
    font-size: 1.8vw;
    font-weight: 1000;

    margin-top: 1vh;
    margin-bottom: 1vh;

    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    transition: color 0.2s ease-in-out, padding-left 0.3s ease-in-out, border-left 0.3s ease-in-out;
}
.sectionProjectsProjectButton:hover {
    color: var(--dColorAccent);

    padding-left: 2vw ;

}
#sectionProjectsRSide {
    width: 70%;
    height: 100vh;
    background-color: var(--dColorBackground);
}
#sectionProjectsProjectInfo {
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-top: 5%;

    overflow-x: hidden;
    overflow-y: scroll;

    border-radius: 10px;


}
#sectionProjectsProjectTitle {
    color: var(--dColorText);
    font-family: Questrial;
    font-size: 4vw;
    font-weight: 1000;
    width: 100%;
    margin-top: 0.9vh;


}

#sectionProjectsProjectTags {
    display: flex;

    width: 100%;

    margin-top: 1.5vh;
    margin-bottom: 1.5vh;

    cursor: default;

}
.sectionProjectsProjectTag {
    color: var(--dColorPrimary);
    font-family: JetBrains;
    font-size: 0.7vw;
    font-weight: 900;

    padding: 0.6vh 1vw;
    margin-right: 0.4vw;

    border-radius: 100vw;

    border: 1px solid var(--dColorPrimary);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.sectionProjectsProjectParagraph {
    position: relative;
    color: var(--dColorText);
    font-family: Questrial;
    font-size: 1vw;
    font-weight: 100;

    margin-top: 1vh;

    text-align: justify;
}
.sectionProjectsProjectImage {
    position: relative;
    width: 100%;

    margin-top: 2vh;
    margin-bottom: 2vh;

    border-radius: 10px;
}
#sectionProjectsGoBackButton {
    display: inline-flex;
    color: var(--dColorAccent);
    
    width: 8vw;


    border: 1.5px solid var(--dColorAccent);
    border-radius: 100vw;

    cursor: pointer;

    transition: color 0.3s ease-in-out, filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#sectionProjectsGoBackButton:hover{
    color: var(--dColorBackground);
    background-color: var(--dColorAccent);
}
#sectionProjectsGoBackButtonText {

    font-family: Questrial;
    font-size: 1vw;
    font-weight: 900;

    width: fit-content;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
#sectionProjectsProjectLinks {
    width: 100%;
    display: inline-flex;

    margin-top: 5vh;
}
.sectionProjectsProjectLinkButton {
    display: inline-flex;

    border: 1.5px solid var(--dColorAccent);
    border-radius: 100vw;

    padding: 1vh 1vw;
    margin-right: 0.5vw;

    cursor: pointer;

    width: fit-content;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.sectionProjectsProjectLinkButton:hover{
    background-color: var(--dColorAccent);
}
.sectionProjectsProjectLinkButton:hover
.sectionProjectsProjectLinkButtonIcon{
    color: var(--dColorBackground);
}
.sectionProjectsProjectLinkButton:hover
.sectionProjectsProjectLinkButtonText{
    color: var(--dColorBackground);
}
.sectionProjectsProjectLinkButtonIcon {
    color: var(--dColorAccent);
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.sectionProjectsProjectLinkButtonText {
    font-family: Questrial;
    font-size: 1vw;
    font-weight: 100;

    color: var(--dColorAccent);

    margin-left: 0.5vw;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.sectionProjectsProjectAuthorsNote {
    position: relative;
    color: var(--dColorText);
    font-family: Questrial;
    font-size: 1vw;
    font-weight: 100;

    margin-top: 6vh;

    text-align: justify;

    opacity: 0.3;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#sectionProjectsProjectInfoExtraSpace {
    color: transparent;

    border: 0px solid transparent;
    height: 5vh;
}

#sectionProjectsProjectInfo > h2 {
    position: relative;
    color: var(--dColorText);
    font-family: Questrial;
    font-size: 1.5vw;
    font-weight: 800;

    margin-top: 2vh;

}
#sectionProjectsProjectInfo > h3 {
    color: var(--dColorText);
    font-family: Questrial;
    font-size: 1.3vw;
    font-weight: 800;
}


/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*      Socials Section         */
#sectionSocials {
    background-color: var(--dColorBackground);

    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

#sectionSocialsGoBackButton {
    display: inline-flex;
    color: var(--dColorAccent);
    
    width: 8vw;

    position: relative;
    margin-left: 46vw;
    margin-right: auto;
    margin-top: 2vh;

    border: 1.5px solid var(--dColorAccent);
    border-radius: 100vw;

    cursor: pointer;

    transition: color 0.3s ease-in-out, filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#sectionSocialsGoBackButton:hover{
    color: var(--dColorBackground);
    background-color: var(--dColorAccent);
}
#sectionSocialsGoBackButtonText {

    font-family: Questrial;
    font-size: 1vw;
    font-weight: 900;

    width: fit-content;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

#sectionSocialsSocialButtonsWrapper {
    background-color: var(--dColorBackground);
    position: relative;
    width: 80vw;
    height: 70vh;

    margin: 10vh auto auto auto;

    display: flex;
}
.sectionSocialsSocialButton {
    background-color: transparent;
    position: relative;
    
    height: 90%;
    width: 25%;
    
    top: 5%;
    padding: 1% 1%;

    border-radius: 15px;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid var(--dColorAccent);

    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.sectionSocialsSocialButton:hover {
    background-color: var(--dColorAccent);
}
.sectionSocialsSocialButton:hover .sectionSocialsSocialButtonName{
    color: var(--dColorBackground);
}
.sectionSocialsSocialButton:hover .sectionSocialsSocialButtonIconWrapper{
    border: 1px solid var(--dColorBackground);
}
.sectionSocialsSocialButton:hover .sectionSocialsSocialButtonIcon{
    color: var(--dColorBackground);
}
.sectionSocialsSocialButton:hover .sectionSocialsSocialButtonDesc{
    color: var(--dColorBackground);
}
.sectionSocialsSocialButtonName {
    color: var(--dColorAccent);
    font-family: Questrial;
    font-size: 3vw;
    font-weight: 900;

    width: 100%;
    text-align: center;

    margin-top: 2vh;

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.sectionSocialsSocialButtonIconWrapper {
    border: 1px solid var(--dColorAccent);
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 30px 30px;

    border-radius: 100vw;

    margin-top: 8vh;

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.sectionSocialsSocialButtonIcon {
    color: var(--dColorAccent);
    text-align: center;

    font-size: 30px;

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;

}
.sectionSocialsSocialButtonDesc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: var(--dColorAccent);
    font-family: JetBrains;
    font-size: 0.7vw;

    position: relative;

    margin-top: 4vh;
    text-align: center;
    font-style: italic;

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;

}


/*      Work Section       */
#sectionWork {
    background-color: var(--dColorBackground);

    grid-column: 3 / 3;
    grid-row: 2 / 2;
}
#sectionWorkDisclaimer {
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: fit-content;

    color: var(--dColorPrimary);
    font-family: JetBrains;
    font-size: 0.7vw;    

}
#sectionWorkResume {
    width: 88%;
    height: 87%;

    padding: 1%;

    margin-top: 0.5%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;

    color: var(--dColorText);
    font-family: Questrial;
    font-size: 1.7vw;  
    overflow: scroll;

    text-align: justify;
}
#sectionWorkResumeExtender {
    color: transparent;

    border: 0px solid transparent;
    height: 40vh;
}